In [4]:
# Carga de biliotecas 

import os
import pyodbc
import time
import pandas as pd
from   dotenv import load_dotenv
from   sqlalchemy import create_engine
from   sqlalchemy import text

In [8]:
load_dotenv()

usuario  = os.getenv('DB_USER')
servidor = os.getenv('DB_SERVER')
senha    = os.getenv('DB_PASSWORD')
banco    = os.getenv('DB_NAME')
driver   = os.getenv('DB_DRIVER')

In [14]:
# conexao com banco de dados de transacional

engine = create_engine(f'mssql+pyodbc://{usuario}:{senha}@{servidor}/{banco}?driver={driver}')

In [15]:
dfClientes = pd.read_sql('select * from CLIENTES',  con=engine)

In [16]:
dfClientes.head()

,NRO,ID_CLIENTE,NOMBRE,APELLIDO,EDAD,ESTADO_CIVIL,RESIDENCIA,ORIGEN
0,1,CLI00001,Rayén,Vásquez,26,Casado,Baños Morales,Buchupureo
1,2,CLI00002,Amparo,Reyes,30,Viudo,Metri,Maitencillo
2,3,CLI00003,Josefa,Donoso,43,Soltero,Quillota,Ensenada
3,4,CLI00004,Millaray,Maldonado,22,Soltero,Piruquina,Llifén
4,5,CLI00005,Catalina,Olivares,39,Soltero,Mehuín,Nercón